.user-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-list-header{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.input-search{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.button{
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-user{
    background-color: #82df96;
}
.create-user:hover {
    background-color: #5ac57e;
}

.create-profile{
    background-color: #4CAF50;
}
.create-profile:hover {
    background-color: #388E3C;
}

.user-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 65vh;
    overflow: auto;
}

@media (max-width: 768px) {
    .input-search {
        width: 150px;
    }
}