body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, rgba(144, 238, 144, 0.8), rgba(255, 255, 255, 0.5)); /* Fondo difuminado */
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
  }